<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title%}{% endblock title%}</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/script.js"></script>

</head>
<body class="d-flex flex-column h-100">
    <div class="container-fluid">
        <nav class="row navbar-dark bg-secondary mt-2 mb-2">
            <a class="col navbar-brand mt-2 mb-2" href="/">Hodlers Portfolio</a>
            {%block hmenu%}
            {%endblock hmenu%}
        </nav>
    </div>
    <div class="container-fluid text-center">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            {% for category, message in messages %}
                                <div class="alert alert-dismissible fade show mb-3 bg-white border" role="alert">
                                    {% if category == 'danger' %}
                                        <i class="bi bi-exclamation-square-fill me-2" style="font-size: 20px; color: #ff6600;"></i>
                                    {% elif category == 'success' %}
                                        <i class="bi bi-check-circle-fill me-2" style="font-size: 20px; color: #28a745;"></i>
                                    {% endif %}
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <main class="flex-grow-1 {% block main_classes %}{% endblock main_classes %}">
        <div class="container text-center">
            <h3>{% block tname %}{% endblock tname %}</h3>
            {% block medium%}
            {% endblock medium%}
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            {% block columns %}
                            {% endblock columns %}
                        </tr>
                    </thead>
                    <tbody>
                        {% block table %}
                        {% endblock table %}
                    </tbody>
                </table>
            </div>
            {% block form %}

            {% endblock form %}
        </div>
    </main>
    <div class="mt-auto">
        <nav class="navbar-dark bg-secondary mt-2 mb-2 py-2 px-3">
            <div class="d-flex justify-content-between align-items-start w-100">
                <a class="navbar-brand">© Gigaj 2026.</a>
                <div class="d-flex flex-column flex-md-row align-items-end">
                    <a class="nav-link" href="#">About</a>
                    <a class="nav-link" href="#">Contact</a>
                    <a class="nav-link" href="#">FAQ</a>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>