{% extends "base.html" %}

{% block title%}edit-transaction{% endblock title%}

{% block tname%}Edit transaction{% endblock tname%}

{%block hmenu%}
    <a class="nav-link mt-2 mb-2" href="#">{{ username }}</a>
    <a href="/sign-out" class="btn btn-outline-danger mr-2 mt-2 mb-2">Sign Out</a>
{%endblock hmenu%}

{% block columns %}

{% endblock columns %}

{% block table %}

{% endblock table %}

{% block main_classes %}d-flex align-items-center{% endblock main_classes %}

{% block form %}
    <div class="container ">
        <div class="bg-primary d-flex justify-content-center p-3">
            <div class="col-md-6">
                <form method="post">
                    <div class="form-group mb-3">
                        <label class="text">Coin symbol</label>
                            <input name=type="text" class="form-control" value="{{ edit_item.co_symbol}}" disabled>
                                <small class="text-primary">It is not possible to edit</small>
                    </div>
                    <div class="form-group ">
                        <label>Quantity</label>
                        <input name = "quantity" type="number" step="0.000001" class="form-control" value="{{ edit_item.quantity}}" required>
                        <small class="text-primary">How many coins did you buy?</small>
                    </div>
                    <div class="form-group ">
                        <label>Purchase price(total)</label>
                            <input name="total_paid" type="number" step="0.01" class="form-control" value="{{ edit_item.total_paid}}" required>
                            <small class="text-primary">Total amount paid including all fees</small>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-primary " name="action" type="submit" value="Submit">Submit</button>
                        <a href="/overview/{{ edit_item.co_symbol }}" class="btn btn-outline-danger">Cancel</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock form %}