{% extends "base.html" %}

{% block title%}Home{% endblock title%}

{%block hmenu%}
    <a href="/sign-in" class="btn btn-outline-primary mr-2 mt-2 mb-2" >Sign In</a>
    <a href="/sign-up" class="btn btn-outline-danger mr-2 mt-2 mb-2" >Sign Up</a>
{%endblock hmenu%}

{% block tname%}Top 15 coins{% endblock tname%}

    {% block columns %}
        {% for thead in theads %}
            <th>{{ thead }}</th>
        {% endfor %}
    {% endblock columns %}
        {% block table %}
            {% if coins %}
                {% for coin in coins[:15] %}
                    <tr>
                        <th scope="row">{{ coin.rank }}</th>
                        <td>
                    <!-- Mobile: Stack name and price vertically -->
                            <div class="d-md-none">
                                <div>{{ coin.symbol }}</div>
                                <div>${{ coin.formatted_price }}</div>
                            </div>

                    <!-- Desktop: Name and price on same line -->
                            <span class="d-none d-md-inline">
                                {{ coin.symbol }} ${{ "{:,.2f}".format(coin.price) }}
                            </span>
                        </td>
                        <td>
                            <span class="d-md-none ">${{ coin.formatted_mcap }}</span>
                            <span class="d-none d-md-inline">${{ "{:,.2f}".format(coin.mcap / 1000000000) }}B</span>
                        </td>
                        <td>
                            <span class="d-md-none ">${{ coin.formatted_volume }}</span>
                            <span class="d-none d-md-inline">${{ "{:,.2f}".format(coin.volume / 1000000000) }}B</span>
                        </td>
                        <td class="{% if coin.change > 0 %}text-success{% else %}text-danger{% endif %}">
                                {{ "%.2f"|format(coin.change) }}%
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
    {% endblock table %}


