{% extends "base.html" %}

{% block title%}Portfolio{% endblock title%}

{%block hmenu%}
    <a class="nav-link mt-2 mb-2" href="#">{{ username }}</a>
    <a href="/sign-out" class="btn btn-outline-danger mr-2 mt-2 mb-2">Sign Out</a>
{%endblock hmenu%}

{% block tname%}
    My portfolio
    <a href="/add-coin" class="btn btn-success btn-sm ms-3">+ Add Coin</a>
{% endblock tname%}

{% block columns %}
        {% for thead in theads %}
            <th>{{ thead }}</th>
        {% endfor %}
    {% endblock columns %}
        {% block table %}
            {% if portfolio %}
                {% for item in portfolio %}
                    <tr>
                        <td>{{ item.co_symbol }}</td>
                        <td>${{ "{:,.2f}".format(item.buy_price) }}</td>
                        <td>${{ "{:,.2f}".format(item.price) }}</td>
                        <td class="{% if item.profit_loss > 0 %}text-success{% else %}text-danger{% endif %}">
                            ${{ "{:,.2f}".format(item.profit_loss) }}
                        </td>
                        <td>${{ "{:,.2f}".format(item.value) }}</td>
                        <td>{{ "%.6f"|format(item.quantity) }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endblock table %}