{% extends "base.html" %}

{% block title%}Sign-Up{% endblock title%}

{% block tname%}Sign Up{% endblock tname%}

{% block columns %}

{% endblock columns %}

{% block table %}

{% endblock table %}

{% block main_classes %}d-flex align-items-center{% endblock main_classes %}

{% block form %}
    <div class="container ">
        <div class="bg-primary d-flex justify-content-center p-3">
            <div class="col-md-6">
                <form method="post">
                    <div class="form-group ">
                        <label for="Nam1" >Username</label>
                        <input type="text" class="form-control" id="Nam1" placeholder="Gigaj Kokana">
                    </div>
                    <div class="form-group ">
                        <label for="Ema1">Email address</label>
                        <input type="email" class="form-control" id="Ema1" placeholder="name@example.com">
                    </div>
                    <div class="form-group ">
                        <label for="Sur1">Password</label>
                        <input type="text" class="form-control" id="Sur1" placeholder="8tr0ng_P488w0rd!!!">
                    </div>
                    <div class="form-group ">
                        <label for="Sur1">Repeat password</label>
                        <input type="text" class="form-control" id="Sur1" placeholder="8tr0ng_P488w0rd!!!">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-primary " type="submit">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock form %}

