{% extends "base.html" %}

{% block title%}Sign-In{% endblock title%}

{% block tname%}Sign In{% endblock tname%}

{% block columns %}

{% endblock columns %}

{% block table %}

{% endblock table %}

{% block main_classes %}d-flex align-items-center{% endblock main_classes %}

{% block form %}
    <div class="container">
        <div class="bg-primary d-flex justify-content-center p-3">
            <div class="col-md-6" >
                <form method="post">
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="8tr0ng_P488w0rd!!!">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock form %}